.dark-mode{
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 1.2rem;
    z-index: 20;
    color: #ADAFBB;
}
.dashboard-dark-mode{
    display: flex;
    align-items: center;
    .form-check-input{
        border-width: 2px;
        height: 20px;
    }
}

body[data-bs-theme='dark'] .bg-body-el{
    background-color: #151521;
}
body[data-bs-theme='dark'] .login-form{
    background-color: #1E1E2D;
    .form-icon, & .title, & .logo-name{
        color: #fff;
    }
}
body[data-bs-theme='dark'] *{
    color: #ADAFBB;
}
body[data-bs-theme='dark'] .sidebar{
    background-color: #1E1E2D;
    li.sidebar-title, .sidebar-header .logo p, li.active a{
        color: #fff;
    }
    .sidebar-body .sidebar-menu:hover{
        background-color: #33334b;
    }
}

body[data-bs-theme='dark'] main.dashboard{
    background-color: #151521;
}
body[data-bs-theme='dark'] .header-container.scroll header{
    background-color: #1E1E2D;
}
body[data-bs-theme='dark'] .header-container:not(.scroll) header .profile .avatar i{
    color: #fff;
}
body[data-bs-theme='dark'] header .profile .profile-menu{
    background-color: #1E1E2D;
    box-shadow: 1px 1px 10px 3px rgb(86 86 86 / 22%);
    .profile-name {
        border-bottom: 1px solid #fff;
        span{
            color: #fff;
        }
    }
    li:not(.profile-name):hover a{
        &, i{
            color: #fff;
        }
    }
}
body[data-bs-theme='dark'] main .welcome{
    h3, p{
        color: #fff;
    }
}
body[data-bs-theme='dark'] main.dashboard {
    .menu .menu-container {
        h5{
            color: #fff;
        }
        a{
            box-shadow: none;
            background-color:  #1E1E2D;
            &:hover{
                background-color: $primary-color-light;
                span, .icon i{
                    color: #fff;
                }
            }
        }
    }
}
body[data-bs-theme='dark'] .welcome section p{
    color: #ADAFBB;
}
body[data-bs-theme='dark'] .welcome.breadcrum ul {
    li{
        color: #ADAFBB;
        &:first-child{
            color: #fff;
        }
    }
}
body[data-bs-theme='dark'] .btn-mrt{
    color: #fff;
    background-color: $primary-color-light;
}

body[data-bs-theme='dark'] .card{
    background-color: #1E1E2D;
    .table-title{
        color: #fff;
    }
}

body[data-bs-theme='dark'] .table-footer{
    .btn:not(.inactive) i{
        color: #fff;
    }
}

body[data-bs-theme='dark'] .table{
    tbody{
        th, td{
            color: #c9cce1;
        }
        td.action button{
            background-color: #1E1E2D;
            i{
                color: $primary-color-light;
            }
        }
    }
}